* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url(Assets/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: integral;
    src: url(Integral-CF-Font-Family/IntegralCF-Heavy.ttf);
}

:root {
    --montserrat--font-family: "Montserrat", sans-serif;
}

/* Nav Starts From Here */

nav {
    width: 85vw;
    height: 13vh;
    background: transparent;
    background-color: #00134d9f;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 40px;
}

.logo {
    width: 17%;
    /* background-color: blue; */
    margin: 0px auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57%;
    /* background-color: red; */
    margin: 0px auto;
}

nav ul {
    display: flex;
    list-style: none;
    color: white;
    font-size: 21px;
    gap: 40px;
}

.nav-contact-btn {
    background-color: #0038FF;
    color: white;
    padding: 13px;
    border-radius: 50px;
    border: none;
    font-size: 19px;
}

.nav-apply-btn {
    background-color: white;
    color: #010B2A;
    padding: 12px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

/* Hero Section Starts From Here */

.hero {
    background-image: url(Assets/hero-bg-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: red; */
}

.hero-left {
    font-family: 'integral', sans-serif;
    height: 60%;
    width: 32%;
    /* background-color: aqua; */
    font-size: 2.5vw;
    font-weight: 800;
    color: white;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-left h1 {
    line-height: 50px;
}

.hero-left button {
    color: white;
    background-color: #0047FF;
    padding: 10px 40px;
    background-size: cover;
    font-size: 14px;
    border: none;
}

.hero-btn {
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
    /* background-color: red; */
    width: 62.4%;
}

.hero-mid {
    height: 89vh;
    width: 34%;
    /* background-color: black; */
    display: flex;
    align-items: flex-end;
    /* position: absolute;
    z-index: 1000; */
}

.hero-mid img {
    width: 100vw;
    height: 80vh;
}

.hero-right {
    height: 34%;
    margin-top: 26%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    /* background-color: red; */
}

.hero-right img {
    position: absolute;
    top: 170px;
    width: 200px;
}

.hero-right p {
    width: 85%;
    color: white;
    line-height: 22px;
}

/* Choose Section Starts From Here */

.choose {
    width: 100%;
    margin-top: 80px;
}

.choose-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 860px;
    text-align: center;
    margin: 0px auto;
}

.choose-container {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    position: relative;
}

.choose-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choose-box {
    margin: 30px;
    width: 590px;
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #000F3B;
    justify-content: center;
    border-radius: 30px;
}

.choose-box img {
    position: absolute;
    left: 577px;
}

.choose-box p {
    line-height: 30px;
    width: 80%;
}

.choose-box-right {
    text-align: right;
}

.choose-box-right img {
    position: relative;
    left: -530px;
    /* right: 0px; */
    /* left: 749px; */
}

/* Program Section Starts From Here */

.program {
    width: 100%;
    margin-top: 80px;
    /* height: 100vh; */
    /* background-color: rebeccapurple; */
    position: relative;
}

.program-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 860px;
    text-align: center;
    margin: 0px auto;
}

.robo-hand {
    position: absolute;
    top: 60px;
    z-index: 10;
}

.side-img {
    position: absolute;
    top: 350px;
    left: 100px;
    z-index: 8;
}

.program-container {
    width: 70%;
    /* height: 70%; */
    /* background-color: rgb(151, 126, 126); */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

.program-box {
    background-image: url(Assets/prog-box-1.png);
    background-size: contain;
    width: 360px;
    height: 440px;
    background-repeat: no-repeat;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    padding: 20px 5px;
}

.program-box-content {
    height: 40%;
    width: 95%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    padding: 10px;
    margin-top: 90px;
}

.program-box-content h3 {
    margin: 20px 0px;

}

.program-box-content ul {
    background-repeat: no-repeat;
    list-style-image: none url(Assets/Grup\ 30.svg);
    width: 95%;
    margin: 0px auto;
    list-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.program-box-content li {
    margin-bottom: 20px;
    background-image: url(Assets/blue-bullet.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 0px 0px;

}

.program-box .btn-1 {
    background-image: url(Assets/blue-btn.png);
    background-size: cover;
    width: 298px;
    height: 70px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'integral', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

.program-box-2 {
    background-image: url(Assets/prog-box-2.png);
    background-size: contain;
    width: 360px;
    height: 440px;
    background-repeat: no-repeat;
    /* background-color: red; */
}

.program-box-2 .btn-2 h4 {
    background-image: url(Assets/white-btn.png);
    background-size: cover;
    width: 298px;
    height: 70px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'integral', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #0038FF;
}

.program-box-2 li {
    margin-bottom: 20px;
    background-image: url(Assets/white-bulet.png);
    background-repeat: no-repeat;
    padding-left: 27px;
    background-position: 0px 0px;
}

.program-box-robo {
    position: absolute;
    right: 228px;
    bottom: 200px;
}

.right-up {
    position: absolute;
    z-index: 3;
    right: 100px;
    top: 550px;
}

/* Trainers Section Start From Here */

.trainers {
    width: 100%;
    margin-top: 80px;
    position: relative;
}

.trainers-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 860px;
    text-align: center;
}

.trainers-head {
    margin-top: 150px;
}

.trainers-container {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
    position: relative;
}

.trainers-box {
    background-image: url(Assets/trainers-bg.png);
    background-size: contain;
    width: 535px;
    height: 460px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    margin: 20px;
}

.trainers-box .btn {
    background-image: url(Assets/trainer-btn.png);
    margin-top: 40px;
    background-size: contain;
    width: 368px;
    height: 57px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'integral', sans-serif;
    font-size: 22px;
    font-weight: 100;
}

.trainers-info {
    margin-top: 20px;
    display: flex;
    width: 90%;
    /* background-color: black; */
    flex-direction: column;
    gap: 20px;
    line-height: 23px;
    text-align: center;
}

.trainers-icons {
    position: absolute;
    top: 450px;
    display: flex;
    gap: 10px;
}

.trainers-icons img {
    width: 50px;
}

/* Categories Section Start From Here */

.category {
    width: 100%;
    margin-top: 80px;
    position: relative;
    /* height: 100vh; */
    /* background-color: rgb(72, 62, 62);? */
}

.category-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 840px;
    text-align: left;
    /* background-color: rebeccapurple;? */
    margin-left: 121px;

}

.category-head p {
    max-width: 300px;
    margin-left: 121px;
    margin-top: 20px;
    text-align: left;
}

.category-head {
    margin-top: 150px;
}

.category-container {
    /* height: 70%; */
    width: 90%;
    /* background-color: aqua;? */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 40px;
    flex-wrap: wrap;
}

.category-box {
    background-image: url(Assets/program-box.png);
    background-size: contain;
    /* height: 420px; */
    width: 350px;
    background-repeat: no-repeat;
    /* background-color: red;? */
    margin: 40px 20px;
}

.category-box-content {
    text-align: center;
    height: 280px;
    justify-content: space-evenly;
    /* background-color: rgb(0, 136, 255); */
    font-size: 20px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;

}

.category-box-content h4 {
    font-size: 22px;
    width: 70%;
}

.category-box-content p {
    width: 70%;
    font-size: 15px;
}

.category-box .btn-1 {
    background-image: url(Assets/category-btn.png);
    background-size: cover;
    width: 243px;
    height: 56px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'integral', sans-serif;
    font-weight: 100;
    position: relative;
    z-index: 3;
    left: 0px;
    bottom: -35px;
}

.category-box .btn-1 h4 {
    font-size: 18px;
}

/* Ciriculum Section Starts From Here */

.ciriculum {
    width: 100%;
    margin-top: 80px;
    position: relative;
}

.ciriculum-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 100%;
    text-align: center;
}

.ciriculum-head p {
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
}

.ciriculum-upper-grid {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.ciriculum-upper-grid h4 {
    padding: 15px 25px;
    font-weight: 400;
    background-color: #0047FF;
    border-radius: 50px;
    border: none;
    margin: 20px;
    text-align: center;
}

.ciriculum-lower-grid {
    width: 90%;
    margin: 0px auto;
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.ciriculum-lower-grid h4 {
    padding: 15px 25px;
    text-align: center;
    font-weight: 400;
    background-color: white;

    color: black;
    border-radius: 50px;
    border: none;
    margin: 20px;
}

/* Unique Section Starts From Here */

.unique {
    width: 100%;
    margin-top: 80px;
}

.unique-head h1 {
    font-family: 'integral', sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 860px;
    text-align: center;
    margin: 0px auto;
}

.unique-container{
    width: 100%;
    /* height: 100vh; */
    margin: 0px auto;
    /* background-color: red; */
    margin-top: 100px;

}

.unique-cont{
    position: relative;
    width: 90%;
    flex-wrap: wrap;
    /* background-color: forestgreen; */
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    /* height: 20vh; */
}

.unique-box-left{
    margin: 20px;
    background-image: url(Assets/unique-box-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.unique-box-left p{
    width: 80%;
    line-height: 24px;
}

.unique-box-left img{
    position: absolute;
    top: -10px;
}
.unique-box-right{
    margin: 30px;
    background-image: url(Assets/unique-box-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.unique-box-right p{
    width: 80%;
    line-height: 24px;
}

.unique-box-right img{
    position: absolute;
    bottom: 220px;
}

.unique-mid-cont{
    width: 95%;
    justify-content: space-between;
}

.unique-mid{
    margin: 20px;
    background-image: url(Assets/unique-mid-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.right img{
    position: absolute;
    bottom: 200px;
}

.unique-robo{
    position: absolute;
    z-index: 22;
    bottom: -50px;
    width: 43vw;
    left: 360px;
}


