*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html , body{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(Assets/bg-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: integral;
    src: url(Integral-CF-Font-Family/IntegralCF-Heavy.ttf);
}

:root{
    --montserrat--font-family: "Montserrat", sans-serif ;
}

/* Nav Starts From Here */

nav{
    width: 85vw;
    height: 13vh;
    background: transparent;
    background-color: #00134d9f;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 0px auto;
    justify-content: space-between;
    margin-top: 40px;
}

.logo{
    width: 17%;
    /* background-color: blue; */
    margin: 0px auto;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 57%;
    /* background-color: red; */
    margin: 0px auto;
}

nav ul{
    display: flex;
    list-style: none;
    color: white;
    font-size: 21px;
    gap: 40px;
}

.nav-contact-btn{
    background-color: #0038FF;
    color: white;
    padding: 13px;
    border-radius: 50px;
    border: none;
    font-size: 19px;
}

.nav-apply-btn{
    background-color: white;
    color: #010B2A;
    padding: 12px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

/* Hero Section Starts From Here */

.hero{
    background-image: url(Assets/hero-bg-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    height: 90vh;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: red; */
}

.hero-left{
    font-family: 'integral' , sans-serif;
    height: 60%;
    width: 32%;
    /* background-color: aqua; */
    font-size: 2.5vw;
    font-weight: 800;
    color: white;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-left h1{
    line-height: 50px;
}

.hero-left button{
    color: white;
    background-color: #0047FF;
    padding: 10px 40px;
    background-size: cover;
    font-size: 14px;
    border: none;
}

.hero-btn{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
    /* background-color: red; */
    width: 62.4%;
}

.hero-mid{
    height: 89vh;
    width: 34%;
    /* background-color: black; */
    display: flex;
    align-items: flex-end;
    /* position: absolute;
    z-index: 1000; */
}

.hero-mid img{
    width: 100vw;
    height: 80vh;
}
.hero-right
{
    height: 34%;
    margin-top: 26%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 25%;
    /* background-color: red; */
}

.hero-right img{
    position: absolute;
    top: 170px;
    width: 200px;
}

.hero-right p{
    width: 85%;
    color: white;
    line-height: 22px;
}

/* Choose Section Starts From Here */

.choose{
    width: 100%;
    /* height: 100vh; */
    /* background-color: red; */
    margin-top: 80px;
}

.choose-head h1{
    font-family: 'integral' , sans-serif;
    font-weight: 800;
    font-size: 45px;
    max-width: 860px;
    text-align: center;
    margin: 0px auto;
}

.choose-container{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
    /* gap: -120px; */
    /* height: 100%; */
    width: 90%;
    margin: 0px auto;
    /* background-color: blueviolet; */
    position: relative;
}

.choose-cont{
    display: flex;
    justify-content: space-between;
    /* background-color: darksalmon; */
    /* width: 100%; */
    flex-wrap: wrap;
}
.choose-box{
    margin: 30px;
    width: 590px;
    display: flex;
    align-items: center;
    height: 160px;
    background-color: #000F3B;
    justify-content: center;
    border-radius: 30px;
}

.choose-box img{
    position: absolute;
    left: 577px;
}

.choose-box p{
    line-height: 30px;
    width: 80%;
}

.choose-box-right{
    text-align: right;
}

.choose-box-right img{
    position: relative;
    left: -530px;
    /* right: 0px; */
    /* left: 749px; */
}
